* {
    font-family: 'Roboto';
}

#fileInput {
    display: none;
}

/* Стили для текста */
h1 {
  font-size: 3vw;
  font-weight: 900;
  letter-spacing: -3%;
  white-space: nowrap;
}

h2 {
  font-size: 2vw;
  font-weight: bolder;
  letter-spacing: -3%;
  white-space: nowrap;
  padding: 0;
}

h3 {
    font-size: 1.1vw;
    font-weight: bolder;
    letter-spacing: -3%;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.1vw;
    font-weight: lighter;
    letter-spacing: -3%;
    padding: 0;
    margin: 0;
}

h5 {
    font-size: 0.9vw;
    font-weight: lighter;
    letter-spacing: -3%;
    padding-left: 2vw;
    padding-bottom: 0.3vw;
    margin: 0;
}
/* Стили для текста */

/* Цвета */
.white {
  color: rgba(255, 255, 255, 1);
}

.light-grey {
  color: rgba(242, 242, 242, 1);
}

.grey {
  color: rgba(183, 183, 183, 1);
}

.dark-grey {
  color: rgba(0, 0, 0, 0.5);
}

.black {
  color: rgba(0, 0, 0, 1);
}

.light-blue {
  color: rgba(212, 218, 247, 1);
}

.blue {
  color: rgba(18, 32, 100, 1);
}

/* Цвета */

body{
    height: 100%;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-bottom: 15vh;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.container {
    display: grid;
    grid-template-columns: 4fr 4% 14fr;
    min-height: 100%;
    position: relative;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    background-color: rgba(242, 242, 242, 1);
    border-radius: 60px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
}

.menu-buttons-container {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 5px;
}

.menu-button {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    background-color: transparent;
    align-items: center;
    color: black;
    border: none;
    text-align: left;
    cursor: pointer;
}

.menu-buttons-container-bottom {
    margin-top: auto;
}

.icon img {
    height: 1.5vw;
    width: auto;
    margin-right: 10px;
}

.highlight {
  background-color: white;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}
.university {
   color: #0E2ECC;
  font-size: 1.5vw;
  margin: 0;
  text-transform: uppercase;
}
/* Menu */

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: calc(69vw);
}

.header-create {
    display: flex;
    align-items: center;
    width: calc(69vw);
}

.spacer {
    margin-left: 3%;
}

.icon-back img {
    height: 1.5vw;
    width: auto;
    margin-left: 15px;
}

.buttons-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.buttons-container button {
    flex: 1;
    min-width: 0;
    margin-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    color: rgba(183, 183, 183, 1);
    border: 1px solid rgba(183, 183, 183, 1);
    border-radius: 60px;
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.buttons-container button:active,
.buttons-container button:focus {
    background-color: rgba(183, 183, 183, 1);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
}

@media (max-width: 600px) {
    .buttons-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.button-none {
    margin: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.university {
    color: #0E2ECC;
    font-size: 1.5vw;
    margin: 0;
    text-transform: uppercase;
}

}
/* Header */


/* Main */
.main {
    display: flex;
    flex-direction: column;
}

.main {
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 60px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 50vw;
}


.line {
  display: flex;
  justify-content: space-between;
}

.spacer-button{
    margin-left: 10px;
}

.sorter-button {
    padding: 15px 25px;
    background-color: rgba(242, 242, 242, 1);
    color: black;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

.sorting-buttons {
  display: flex;
  justify-content: flex-end;
}

.item {
    margin-left: 10px;
}

.spacer-bottom {
    margin-bottom: 3%;
}

html, body, .main{
    height: 73vh;
}

.table-style {
    flex: 1;
    font-family: 'Roboto';
    font-size: 1.1vw;
    color: black;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 60px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    width: calc(62vw);
    margin-bottom: 1vw;
    overflow-y: auto;
    white-space: nowrap;
    table-layout: auto;
}

table th {
    font-size: 1.2vw;
    width: auto;
}

.table-style td, .table-style th {
    padding: 10px;
    text-align: center;
    width: auto;
}

.table-style td:first-child {
    text-align: left;
}

.table-cell {
    background-color: white;
    border-radius: 60px;
}

.table-program {
  max-height: 40vh;
}


input {
    display: flex;
    align-items: center;
    background-color: rgba(242, 242, 242, 1);
    color: black;
    border: none;
    border-radius: 60px;
    padding: 2vh 2vw;
    width: 30vw;
    font-size: 1.1vw;
}

.input-slot {
    width: 10vw;
    height: 2vh;
}

.custom-select {
  position: relative;
  width: 16vw;
}

.custom-select select {
  display: flex;
  align-items: flex-start;
  background-color: rgba(212, 218, 247, 1);
  border: none;
  border-radius: 60px;
  padding: 2vh 2vw;
  font-size: 1.1vw;
  width: 100%;
  box-sizing: border-box;
  color: rgba(18, 32, 100, 0.5);
  appearance: none;
}

.custom-select::after {
  content: "▼";
  position: absolute;
  right: 1vw;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1vw;
}

/* Цвет плейсхолдера */
.custom-select select option[disabled][selected] {
  color: rgba(212, 218, 247, 1);
}

/* Цвет остальных опций */
.custom-select select option:not([disabled]) {
  color: rgba(212, 218, 247, 1);
}

.placeholder {
    color: #666;
}


.select-block {
    display: flex;
    align-items: center;
    background-color: rgba(242, 242, 242, 1);
    color: black;
    border: none;
    border-radius: 60px;
    padding: 2vh 2vw;
    width: 30vw;
    font-size: 1.1vw;
}

.centre-text {
  display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.job-title {
    color: #0E2ECC;
    font-size: 0.7vw;
    margin: 0;
    text-transform: uppercase;
}

.group {
    color: #888;
    font-size: 0.7vw;
    margin: 0;
}
.details {
  display: flex;
  flex-direction: column;
}

.job-title {
  color: #0E2ECC;
  font-size: 0.7vw;
  margin: 0;
  text-transform: uppercase;
}
.group {
  color: #888;
  font-size: 0.7vw;
  margin: 0;
}
/* Main */

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer-buttons-container {
    display: flex;
}

.footer-button {
    margin-left: 10px;
    padding: 15px 25px;
    background-color: rgba(242, 242, 242, 1);
    color: black;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

.footer-button:hover {
    background-color: rgba(242, 242, 242, 0.8);
    color: rgba(0, 0, 0, 0.6);
}

/* Footer */
.select-block select {
  all: initial;
}

select {
  background-color: transparent;
  border: none;
  height: 2vh;
}


.select-block-schedule {
    padding: 2vh 2vw;
    width: 9vw;


}

.select-block select {
    max-height: 4vh;
    overflow-y: auto;
}






label {
  padding-left: 2vw;
  font-size: 0.8vw;
  font-weight: lighter;
}

button {
  display: block;
  width: 30vw;
  align-items: center;
  border: none;
  border-radius: 60px;
  padding: 2vh 2vw;
  font-size: 1.1vw;
  margin: 0;
  box-sizing: border-box;
}

.login-button {
  color: white;
  background-color: rgba(18, 32, 100, 1);
}

.space {
  margin-bottom: 1vh;
}

.error {
  text-align: center;
  font-size: 0.8vw;
  color: rgba(197, 9, 9, 1);
  display: none; /* Скрыто по умолчанию */
}