.outer-container {
    position: relative; /* Позиционируемый контейнер */
    width: 300px; /* Ширина внешнего прямоугольника */
    height: 200px; /* Высота внешнего прямоугольника */
    background-color: green; /* Цвет внешнего прямоугольника */
    border-radius: 60px; /* Скругление всех углов внешнего прямоугольника */
    display: flex; /* Установка режима отображения флексбокс */
    justify-content: center; /* Выравнивание содержимого по центру по горизонтали */
    align-items: center; /* Выравнивание содержимого по центру по вертикали */
}

.outer-container::before {
    content: ""; /* Добавляем содержимое псевдоэлемента */
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Положение сверху */
    left: 0; /* Положение слева */
    width: 100%; /* Ширина псевдоэлемента равна ширине контейнера */
    height: 100%; /* Высота псевдоэлемента равна высоте контейнера */
    background-color: white; /* Цвет псевдоэлемента */
    border-radius: 60px; /* Скругление всех углов псевдоэлемента */
    z-index: -1; /* Помещаем псевдоэлемент за фоновый контент */
}

.inner-container {
    position: relative; /* Относительное позиционирование */
    z-index: 1; /* Помещаем внутренний контент над псевдоэлементом */
    background-color: transparent; /* Прозрачный фон внутреннего контейнера */
    border-radius: 60px 0 0 60px; /* Скругление левых углов внутреннего прямоугольника */
    padding: 20px; /* Внутренний отступ внутреннего прямоугольника */
}


