html, body, .main {
    height: 84vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 84vh;
    padding-right: 10px;
    overflow: hidden;
}

.custom-multiselect {
  position: relative;
  width: 34vw;
  font-size: 1.1vw;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 60px;
  cursor: pointer;
  padding: 1.5vh 2vw;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
}

.selected-options {
  min-height: 3vh;
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid rgba(212, 218, 247, 1);
  border-radius: 12px;
  margin-top: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index: 10;
}

.option-item {
  padding: 0.8vh 1vw;
  transition: background 0.2s;
}

.option-item:hover {
  background-color: rgba(212, 218, 247, 0.3);
}

.hidden {
  display: none;
}
.custom-multiselect .options-list {
    display: none;
}
.custom-multiselect .options-list.show {
    display: block;
}
