html, body, .main {
    height: 84vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 84vh;
    padding-right: 10px;
    overflow: hidden;
}